.root{
    /*-fx-background-color: rgb(41, 38, 46);*/
    -fx-background-color: #1b1b26;
    -fx-font-size: 12;
}
.squircle-button{
    -fx-text-fill: rgb(200, 200, 200);
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 5;
    -fx-background-color: #282b38;
}
.squircle-button:hover {
    -fx-background-color: #393d4f;
}

/* Used for the minimize and maximize toolbar buttons */
.tool-bar-button {
    -fx-text-fill: rgb(200, 200, 200);
    -fx-font-size: 14pt;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
    -fx-background-color: #282b38;
}
.tool-bar-button:hover {
    -fx-background-color: #393d4f;
}

/* used for the close application button */
.close-button {
    -fx-text-fill: rgb(200, 200, 200);
    -fx-font-size: 14pt;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
    -fx-background-color: #282b38;
}
.close-button:hover {
    -fx-background-color: red;
}

/* This is used for the tab buttons */
.transparent-square-button{
    -fx-text-fill: rgb(200, 200, 200);
    -fx-padding: 5;
    -fx-background-color: transparent;
}
.transparent-square-button:hover {
    -fx-background-color: #393d4f;
}

.custom-text-entry {
    -fx-background-color: #393d4f;
    -fx-text-fill: rgb(200, 200, 200);
}

.text-area {
    -fx-text-fill: rgb(200, 200, 200);
}
.text-area .content{
    -fx-background-color: #282b38;
}

.white-text {
    -fx-fill: rgb(200, 200, 200);
}

/* Used for the title/toolbar at the top of the application*/
.toolbar {
    -fx-background-color: #1d1f29;
}


.combo-box .list-cell
{
    -fx-background: #1d1f29;
    -fx-text-fill: rgb(200, 200, 200);
}

.combo-box .list-cell:hover
{
    -fx-background-color: #393d4f;
}

.combo-box .list-view .list-cell:filled:selected
{
    /*-fx-background: #1d1f29;*/
    -fx-background-color: #494d5f;/*#3c4052;*/
}

.combo-box-popup .list-view
{
    -fx-background-color: black;/*#1d1f29;*/
}

.combo-box-base
{
    -fx-background-color: #393d4f;
    -fx-text-fill: rgb(200, 200, 200);
}

.scroll-pane > .viewport
{
    -fx-background-color: transparent;
}

.scroll-pane
{
    -fx-background-color: #1b1b26;
}

.scroll-pane .scroll-bar:vertical {
    -fx-pref-width: 1.2em;
}

.scroll-pane .scroll-bar:vertical .track{
    -fx-background-color: #282b38;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #494d5f;
}

.scroll-pane .scroll-bar .increment-button,
.scroll-pane .scroll-bar .decrement-button,
.scroll-pane .scroll-bar .decrement-arrow,
.scroll-pane .scroll-bar .increment-arrow
{
    visibility: hidden;
    -fx-padding: 0 0 0 0;
}